@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
}

header {
  background-image: url("car-bg.jpeg");
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
}

.content {
  font-size: 1.5rem;
  margin: auto;
  padding: 16px;
}

.content h1 {
  color: #00c2ff;
  font-style: bold;
  margin-bottom: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav .logo {
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.selected {
  font-weight: bold;
}

.highlight {
  background-color: #00c2ff;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  padding: 15px;
}

footer .container {
  padding: 0;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

footer li p {
  margin: 0;
}

footer li strong {
  color: #00c2ff;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav .highlight {
    display: none;
  }
}
