body {
  margin: 0px 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1em;
  /* This would be inherited and multiplied by other font-size rules that
  chilren of this parent element (which is every element inside the body element)*/
}

h1 {
  /* It is best practice to make our fonts dynamic */
  /* font-size: 100%; 100% = 16px = 1em */
  /* font-size: 562.5%; 90px/16px = 5.625 => 562.5% */
  /* 'rem' references the ROOT element for the dynamic sizing */
  /* This means if the parent element is set to a dynamic font size */
  /* the child element that implements 'rem' will ignore that parent rule */
  /* the child element that implements 'rem' will ignore that parent rule */
  font-size: 5.625rem; /* Another way to create dynamic fonts */
  line-height: 2; /* gives a more spaced out look */
  color: #66bfbf;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

h3,
a {
  color: #11999e;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-container {
  background-color: #323232;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

/* Skills section styling */
