body {
  margin: 0px 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-container {
  background-color: #323232;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: blue;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.header {
  color: #14ffec;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "Bad Script", cursive;
}

.sub {
  color: #0d7377;
  font-family: "Montserrat", sans-serif;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
