@use "sass:math";
@use "variables" as v;

@mixin badge($bg-color: v.$info) {
  border-radius: v.$base-border-radius * 4;
  background-color: $bg-color;
  padding: math.div(v.$base-padding, 4) math.div(v.$base-padding, 2);
  font-size: v.$font-size-sm;
  font-weight: normal;
}

.badge {
  @include badge;
}

@each $key, $val in v.$colors {
  .badge-#{$key} {
    @include badge($val);
  }
}
