@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  background-image: url("restaurant_bg.jpeg");
  color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    max-width: 100%;
}
